<% layout("/layouts/boilerplate.ejs") %>

<body>

        <div class="cards">
            <% for (let item of list) { %>
                <a href="/listings/<%= item._id %>" class="details-link">
                    <div class="card listing-card col" style="width: 20rem;">
                        <img src="<%= item.image.url %>" class="card-img-top image" alt="img not found" style="height: 20rem;">
                        <div class="card-body">
                          <p class="card-text">
                            <b><%= item.title %></b><br>
                            &#8377; <%= item.price.toLocaleString("en-IN") %> /night
                          </p>
                        </div>
                      </div>
                </a>
            <% } %>
        </div>

   
</body>
</html>