<% layout("/layouts/boilerplate.ejs") %>
<body>
    
    <div class="row offset-3 col-6">
        <h1 class="mb-3">Login</h1>
        <div class="col">
            <form method="post" action="/login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" placeholder="Enter Username" name="username" id="username" class="form-control" required>
                    <div class="invalid-feedback">Enter Valid Userame</div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" placeholder="Enter Password" name="password" id="password" class="form-control" required>
                    <div class="invalid-feedback">Enter Password</div>
                </div>
        
                <button type="submit" class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</body>